.header{
    padding-top: 12px;
    @media (max-width: 375px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    @media (min-width: 376px) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
        margin: 0 32px 40px 32px

    }
    &__logo{
        @media (max-width: 375px){
            img{
                height: 28px;
                width: auto;
            }
            margin-bottom: 20px;
        }
    }
    &__ul{
        @media (max-width: 375px){
            display: none;
        }
        grid-column:9;
        list-style-type: none;
        margin: 0;
        padding: 0;
        &__item{
            margin-bottom: 8px;
            a{
                transition: all ease-in-out 0.2s;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                color: #212529;
                text-decoration: none;
            }
            &__line{
                transition: all ease-in-out 0.2s;
                display: flex;
                height: 1px;
                width: 100%;
                background-color: #4b535c;
                opacity: 0;
                position: relative;
                left: -100%;
            }
        }
        &__item:hover{
            a{
                color: #4b535c;
            }
            span{
                transform: translateX(100%);
                opacity: 0.2;
            }
        }
    }
    &__tel{
        @media (max-width: 375px){
            display: none;
        }
        grid-column: -1;
        cursor: pointer;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        color: #212529;
    }
    &__menu{
        @media (min-width: 376px){
            display: none;
        }
        grid-column: -1;
        cursor: pointer;
    }
    &__mobile-menu-dis{
        display: none;
    }
    &__mobile-menu-act{
        display: flex;
        justify-content: center;
        position: fixed;
        background-color: #212529;
        width: 92vw;
        height: 96vh;
    }
    &__mobile{
        &__ul{
            padding: 0;
            align-self: center;
            list-style-type: none;
            text-align: center;
            margin: auto;
            &__item{
                margin-bottom: 25px;
                text-decoration: none;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 20px;
                color: #ffffff;
                a{
                    text-decoration: none;
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 30px;
                    color: #ffffff;
                }
            }
        }
        &__close{
            position: absolute;
            top:10px;
            right: 10px;
            margin-bottom: 25px;
            text-decoration: none;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 20px;
            color: #ffffff;
        }
    }
}